<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Weather Me</title>
</head>
<body>
<div class="wrapper">
  <!-- Landing -->
  <header>
      <nav id="navbar">
        <div class="container">
          <h1 class="logo">
            <a href="/">Weather Me</a>
          </h1>
          <ul>
            <li>
              <a href="/register" class="current">Sign up</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
          </ul>
        </div>
      </nav>

  <!-- Hero Section -->
    <div id="showcase">
      <div class="container">
        <div class="showcase-content">
          <h1><span class="text-primary">Weather</span> Me</h1>
          <p class="lead"><i>Getting the right Forecast has never been this easy</i></p>
          <a class="btn" href="/register">Sign up!</a>
        </div>
      </div>
    </div>
  </header>

  <!--Section 1  -->
  <section id="home-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="info-content">
      <h2><span class="text-primary">Weather</span> Me</h2>
      <p>
      <i> Allows you to find the exact temperature no matter where you are. Planning an outing with family friends will never be a hassle.</i>
      </p>
    </div>
  </section>

    <!-- Section 2 -->
<section class="showview">
  <div class="app-view">
    <img src="../static/images/desk-top .png" id="desktop-frame">
  </div>
  <div class="app-function">
    <h4 id="app-detail">
      Add your city, or a city you plan on visiting
    </h4>
    <p>
      With Weather <span>Me</span>, <i>
      simply input a city and you will receive an updated forecast!</i>
    </p>
  </div>
</section>

<!-- Footer -->
<div class="clr"></div>
</div>
<footer id="main-footer">
  <p>Weather Me &copy; 2020, All RIghts Reserved</p>
</footer>

   
 <script src="/static/app.js"></script>
</body>
</html>