{% extends 'base.html' %}


{% block title %}Weather Me{% endblock %}

{% block content %}

<!-- Flash Messages -->
{% for msg in get_flashed_messages() %}
<div class="notification is-warning">{{ msg }}</div>
{% endfor %}  


<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST">

            {{ form.hidden_tag() }}

           
        {% for field in form.errors %}
        <div class="notification is-warning">{{ field }}:
          <ul>
         {% for error in form.errors[field] %}
         <li>{{ error }}</li>
        {% endfor %}
        </ul>
          </div>
        {% endfor %}



            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="username" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
{% endblock %}